.navbar-bran {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
    text-transform: uppercase;

}
.color-rosa{
	color: #96666e;
}
.color-rosa:hover{
	color: #96666e;
	text-decoration: none;
}
.color-blanco{
	color: #e9eeea;
	text-decoration: none;
}
.color-blanco:hover{
	color: #96666e;
	text-decoration: none;
}
#side-menu {

}
.sidebar ul li{
	border: 0;
}
.nav>li>a{
	border: 0;
	color: #3291b1;
	font-size: 1.3em;
}
.contenido{
	margin-top: 26px;
}
.navbar-static-top{
	background-color:#6a8b92;
	border:0;
}
body,.sidebar {
	background-color: #e9eeea;
}
.sidebar{
	margin-top: 55px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3291b1;
    color: #e9eeea;	
}
#page-wrapper{
	border-radius: 20px;
	margin: 10px 10px 10px 260px;
}
.sidebar ul li a.active{
	text-decoration: none;
    background-color:#629eb3;
     color: #e9eeea;
}
.btn-rosa{
	background-color: #db6b7e;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}